header {
	position: relative;
	z-index: 1;
}
main {
	position: relative;
	z-index: 1;
}
a {
	margin-right: 5px;
}
button:disabled {
	background: gray;
}
button:disabled:hover {
	background: gray;	
}
.program-languages {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 1rem;
	align-items: center;
}