header {
  position: relative;
  z-index: 1;
}
main {
  position: relative;
  z-index: 1;
}
a {
  margin-right: 5px;
}
button:disabled {
  background: gray;
}
button:disabled:hover {
  background: gray;
}
.post-list-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  align-items: center;
  padding: 0.25rem 1rem;
  border-radius: 6px;
}
.post-list-item:hover {
  background: var(--background);
  text-decoration: none;
}
#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
